---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin }}";
@import "minimal-mistakes";

/* Increase sidebar avatar size */
.author__avatar img {
  max-width: 180px; 
  width: 180px;
  height: 180px;
}

/* Make the top navigation stick to the top */
.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

/* Prevent content from sliding under the fixed masthead */
.initial-content {
  padding-top: 3.5rem; /* tweak if your header height differs */
}
